<!--My footer-->
<nav class="navbar fixed-bottom navbar-dark  bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Group 16 Games Review Site</a>
        <h6 class="navbar-text"><p>&copy; Copyright 2022. All rights reserved Group 16</p></h6>

           <!--css files-->
  <link rel='stylesheet' href='/content/styles.css' />
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css"/>
    </div>
  </nav>