<!--My footer-->
<nav class="navbar fixed-bottom navbar-dark  bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Group 16 Games Review Site</a>
        <h6 class="navbar-text"><p>&copy; Copyright 2022. All rights reserved Group 16</p></h6>
    </div>
  </nav>