<%- include partials/header.ejs %>
<%- include partials/top_nav.ejs %>

        <!--css files-->
  <link rel='stylesheet' href='/content/styles.css' />
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css"/>
<!--title at top-->

  <h1 id="caption">
  <p>Click one to review YOUR game down below</p>
  </h1>
  

<div id="images">
<p>
  <a href= "http://localhost:3000/gameslist">
  <img src="assets/ittakestwo.png" height="300px" width="300px" >
   <img src="assets/zelda.jpeg" height="300px" width="300px" >
    <img src="assets/pro.png" height="300px" width="300px" >
       <img src="assets/deadspace.png" height="300px" width="300px" >
       <img src="assets/GOW.png" height="300px" width="250px" >
       </a>
       </p>
</div>

<!-- intro section of home page-->
<h4>Welcome to Group 16's Video Game Review Site. Head to the Games tab to see our reviews!</h4>


<!--bottom nav bar-->
<%- include partials/bot_nav.ejs %>

    <!--these are the script files-->
    <script src = "config/app.js"></script>
    <script src = "config/db.js"></script>
    <script src = "/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src = "/jquery/dist/jquery.min.js"></script>
  
</body>
</html>

