@charset "UTF-8";

body {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f0f9ff+0,cbebff+47,a1dbff+100;Blue+3D+%2313 */
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#cedce7+0,596a72+100;Grey+3D+%231 */
background: #cedce7; /* Old browsers */
background: -moz-linear-gradient(top,  #cedce7 0%, #596a72 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #cedce7 0%,#596a72 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #cedce7 0%,#596a72 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); /* IE6-9 */

/*copied from collorzila*/
    background-color: rgb(3, 1, 32);
    font-family: Cambria, Perpetua, Garamond;
    padding: 0px;
    margin: 0px;
    height: 1401px; /*should fix height to auto?*/
    overflow: auto;
}

#images img:hover
{
    opacity:0.6;
    color:#000000;
    padding:30px;
}

#logo  
{
   padding-left: 480px;
}

#caption{
    padding-left: 300px;
}

#welcome{
    padding-left: 240px; 
}